tests/*.adb no-precommit-check
tests/*.ads no-precommit-check

tests/*/*.ads no-precommit-check
tests/*/*.ads no-precommit-check

tests/*/*/*.ads no-precommit-check
tests/*/*/*.ads no-precommit-check

tests/*/*/*/*.ads no-precommit-check
tests/*/*/*/*.ads no-precommit-check